@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANSans/IRANSansWeb_Light.woff') format('woff');
}

* {
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
}

.bg-gray {
    background-color: #404E67;
    color: #dcdcdd;
}

.pointer {
    cursor: pointer;
}

.bg-custom-orange {
    background: -webkit-gradient(linear, left top, right top, from(#feb898), to(#fe9365));
    background: linear-gradient(to right, #feb898, #fe9365);
}

.bg-custom-green {
    background: -webkit-gradient(linear, left top, right top, from(#0df3a3), to(#0ac282));
    background: linear-gradient(to right, #0df3a3, #0ac282);
}

.bg-custom-pink {
    background: -webkit-gradient(linear, left top, right top, from(#fe909e), to(#fe5d78));
    background: linear-gradient(to right, #fe909e, #fe5d78);
}

.bg-custom-blue {
    background: -webkit-gradient(linear, left top, right top, from(#01dbef), to(#01a9ac));
    background: linear-gradient(to right, #01dbef, #01a9ac);
}

.font-size-12 {
    font-size: 12px;
}

.max-width-16-rem {
    max-width: 16rem;
}

.max-height-2rem {
    max-height: 2rem;
}

.width-16-rem {
    width: 16rem;
}

.width-22-rem {
    width: 22rem;
}

.width-8-rem {
    width: 8rem;
}

.height-140-px {
    height: 140px;
}